

.navbar-brand{
  margin-left: 2em;
}

.Intro{
  background-color: white;
  width: 70%;
  text-align: center;
  margin: 200px auto;
}
.Back{
  position: relative;
  top: 10em;
  left: 2em;
  width: 70%;
  text-align: center;
}
.Cars{
  background-color: Black;
  margin: auto;
  height: 500px;
}
.NFT{
  margin: auto;
  height: 500px;
}
.Watch{
  margin: auto;
  background-color: black;
  height: 500px;
}
.Watchespic{
  float: left;
  height: 25em;
}

.watchdes{
  color: white;
    padding-top: 4em;
}
.NFTpic{
  float: left;
  height: 400px;
  width: 40em;
}
.NFT-head{
  text-align: center;
  margin: auto;
}
.NFTdes{
  color: Black;
    padding-top: 4em;
}
.speedtail{
  float: left;
  height: 19.5em;
}
.Watchespic{
  padding: 0 10em 0 10em;
}
.diablo{
  float: right;
  height: 21em;
}
.Lambveneno{
  width: 80%;
  margin: 0 auto 7em auto;
}
.Veneno{
  float: left;
  height: 20em;
}
.Mclaren{
  width: 80%;
  margin: 15em auto 7em auto;
}
.Lambdiablo{
  width: 80%;
  margin: 0 auto 7em auto;
}

.Countach{
  width: 80%;
  margin: 0 auto 7em auto;
}
.Countachpic{
  float: right;
  height: 20em;
}
.Lamb{
  color: black;
}
.car-head{
  color: white;
  text-align: center;
  margin: auto;
}
.Watch-head{
  color: white;
  text-align: center;
  margin: auto;
}

.Cardes{
  padding-top: 4em;
}

.Bugattipic{
  height: 28em;
  float: left;
  margin: 0 auto;
}


.Links{
  Margin: 20px 50px;
  text-decoration: none;
font-family: 'Encode Sans SC', sans-serif;
    font-size: 20px;
    display: inline-block;
    color: Black;
    padding-top: 50px;
}
h1{
  font-family: 'Zen Dots', cursive;
  font-size: 55px;
  margin: 0 1300px 0 0;
}
h2{

    Color: Black;
    font-family: 'Zen Dots', cursive;
    font-size: 35px;
    margin: 0 1300px 0 0;
  }

  h3{
    text-align: center;
  }
p{
  color: white;
  text-align: center;
}


.Discover{
  Margin: 20px 50px;
  text-decoration: underline;
    font-size: 20px;
    color: white;
    padding-top: 150px;
}

.Discover:hover{
  color: white;
}
.DiscoverNFT{
  Margin: 20px 50px;
  text-decoration: underline;
    font-size: 20px;
    color: Black;
    padding-top: 150px;
}

.DiscoverNFT:hover{
  color: black;
}
.DiscoverWatch{
  Margin: 20px 50px;
  text-decoration: underline;
    font-size: 20px;
    color: white;
    padding-top: 150px;
}

.DiscoverWatch:hover{
  color: white;
}
.Price{
  Margin: 0 50px 0 0;
  text-decoration: none;
    font-size: 20px;
    color: Black;
    padding-top: 100px;
}
.Price:hover{
  color: grey;
}
.introtext{
  color: Black;
}
  a{
    text-decoration: none;
      Color: Black;
  }

.BUTTON_Home {
   background: #000000;
   background-image: -webkit-linear-gradient(top, #000000, #595F66);
   background-image: -moz-linear-gradient(top, #000000, #595F66);
   background-image: -ms-linear-gradient(top, #000000, #595F66);
   background-image: -o-linear-gradient(top, #000000, #595F66);
   background-image: -webkit-gradient(to bottom, #000000, #595F66);
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   color: #FFFFFF;
font-family: 'Zen Dots', cursive;
   font-size: 16px;
   font-weight: 100;
   padding: 10px 20px 10px 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #000000 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   margin: 10px 1300px 0 0;
}
.BUTTON_Home2 {
   background: #000000;
   background-image: -webkit-linear-gradient(top, #000000, #595F66);
   background-image: -moz-linear-gradient(top, #000000, #595F66);
   background-image: -ms-linear-gradient(top, #000000, #595F66);
   background-image: -o-linear-gradient(top, #000000, #595F66);
   background-image: -webkit-gradient(to bottom, #000000, #595F66);
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   color: #FFFFFF;
font-family: 'Zen Dots', cursive;
   font-size: 16px;
   font-weight: 100;
   padding: 10px 20px 10px 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #000000 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   margin: 10px 1300px 0 0;
}

.BUTTON_Home:hover {
   border: solid #CFCFCF 1px;
   background: #090909;
   background-image: -webkit-linear-gradient(top, #090909, #6F7073);
   background-image: -moz-linear-gradient(top, #090909, #6F7073);
   background-image: -ms-linear-gradient(top, #090909, #6F7073);
   background-image: -o-linear-gradient(top, #090909, #6F7073);
   background-image: -webkit-gradient(to bottom, #090909, #6F7073);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.BUTTON_Home2:hover {
   border: solid #CFCFCF 1px;
   background: #090909;
   background-image: -webkit-linear-gradient(top, #090909, #6F7073);
   background-image: -moz-linear-gradient(top, #090909, #6F7073);
   background-image: -ms-linear-gradient(top, #090909, #6F7073);
   background-image: -o-linear-gradient(top, #090909, #6F7073);
   background-image: -webkit-gradient(to bottom, #090909, #6F7073);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.body{
  background-color: White;
  margin: 0;

}
