
hr{
  border: dotted Black 6px;
  border-bottom: none;
width: 5%;
margin: 100px auto 150px auto;
 }

h1{
  color: Black;
font-family: 'Zen Dots', cursive;
font-size: 100px;
padding: 0;
margin: 0 auto 50px auto;
font-weight: 900;

}
.Head1{
  font-size: 65px;
  margin-top: 180px;
}
h2{
  color: Black;
  font-family: 'Imbue', serif;
  padding: 0;
  font-size: 45px;
margin: 0;
}

.Investor{
  color: white;
  margin-top: 470px;
}

h3{
  color: white;
}
a{
  text-decoration: none;
}

a:visited{
  color: white;
  margin: 0 auto 0 auto;
  text-decoration: none;
}

p{
  margin: 40px auto 0 auto;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: White;
}

.Links{
  Margin: 5px 50px;
  text-decoration: none;
    font-family: 'Imbue', serif;
    font-size: 25px;
    display: inline-block;

}



.P1{
  word-spacing: 5px;
  font-size: 27px;
  font-weight: bolder;
  font-family: 'Big Shoulders Display', cursive;
  color: #3F3F44;
}

.P2{
  margin-bottom: 0;
  word-spacing: 5px;
  font-size: 27px;
  font-weight: bolder;
  font-family: 'Big Shoulders Display', cursive;
  color: #3F3F44;

}
  .Home-Head{
    font-family: 'Zen Dots', cursive;
    font-size: 30px;
    color:#3F3F44;


}
.Getintouch{
  font-family: 'Zen Dots', cursive;
  font-size: 30px;
  color:#3F3F44;
  position: relative;
  bottom: 65px;
}

.Crypto-pic{
  height: 400px;
  float: left;
}

.Compare{
  height: 400px;

}

.Defi-Pic{
  height: 300px;
  float: right;
  position: relative;
  bottom: 60px;
}
.Home-Sub{
  Color: White;
}
.Top-container{
  background-image: url("https://wallpaperaccess.com/full/1250992.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  margin: 0 auto 0 auto;
}

.Taskbar{
  Height: 50px;
background-color: Black;
margin: 0 auto 0 auto;

}
.middle-container{
  margin: 400px auto 0 auto;
  width: 50%;
}


.bottom-container{
  background-color: black;
  height: 200px;
}
.Second-row{
  margin: 100px auto 100px auto;
}

.Last-row{
  margin: 450px auto 0 auto;
}

.contact-me{
  margin: 100px auto 100px auto;
}
.Copyright{
  font-size: 20px;
  color: #444444;
  position: relative;
  Top: 80px;
}

.Cloud1{
  position: absolute;
  top: 880px;
  right: 270px;
  height: 300px;
  z-index: -1;
}
.Cloud5{
  position: absolute;
  top: 790px;
  Left: 170px;
  height: 300px;
  z-index: -1;
}
.Cloud2{
  position: absolute;
  top: 2390px;
  right:  400px;
  height: 150px
}

.Cloud3{
  position: absolute;
  Top: 2390px;
  left:  400px;
  height: 150px
}

.MTN{
  position: absolute;
  Top: 2480px;
  height:200px;
  left: 550px;

}


.btn{
  color: Black;
}

.footer-link{
  position: relative;
  margin: 10px 20px;
  top: 65px;
  color: #444444;
  font-size: 28px;
  text-decoration: none;
}
.footer-link:hover{
  color: white;
}
body{
  background-color: #F3F9FB;
  background-repeat: no-repeat;
  background-size: cover;
margin: 0;
height: 500px;
text-align: center;


}


.BUTTON_Home {
   background: #000000;
   background-image: -webkit-linear-gradient(top, #000000, #595F66);
   background-image: -moz-linear-gradient(top, #000000, #595F66);
   background-image: -ms-linear-gradient(top, #000000, #595F66);
   background-image: -o-linear-gradient(top, #000000, #595F66);
   background-image: -webkit-gradient(to bottom, #000000, #595F66);
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   color: #FFFFFF;
font-family: 'Zen Dots', cursive;
   font-size: 16px;
   font-weight: 100;
   padding: 10px 20px 10px 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #000000 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_Home:hover {
   border: solid #CFCFCF 1px;
   background: #090909;
   background-image: -webkit-linear-gradient(top, #090909, #6F7073);
   background-image: -moz-linear-gradient(top, #090909, #6F7073);
   background-image: -ms-linear-gradient(top, #090909, #6F7073);
   background-image: -o-linear-gradient(top, #090909, #6F7073);
   background-image: -webkit-gradient(to bottom, #090909, #6F7073);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
